.main {
    width: 500px;
    height: 500px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 6%, rgba(0, 212, 255, 1) 100%);
}
:root{
    --color : pink;
    --bg-color : black
}
h3{
    color: var(--color);
    background-color: var(--bg-color);
}